@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//*Variables*//

//!font-family:
// $font-family: lu;

//!color:

$primary-color: purple;
$secondary-color: rgb(255, 145, 0);
$text-color: rgb(100, 99, 99);

//*Functions*//

//* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(161, 61, 255);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  width: 50%;
  height: 400px;
  background-color: white;
  overflow-y: hidden;
  resize: vertical;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2),-10px 10px 10px rgb(0, 0, 0, 0.2);
}