@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//*Variables*//

//!color:
$primary-color: rgb(161, 61, 255);
$text-color-1: black;
$text-color-2: rgb(100, 99, 99);


//* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
  height: 400px;
  background-color: white;
  overflow-y: auto;
  resize: vertical;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2),
    -10px 10px 10px rgb(0, 0, 0, 0.2);
    
    h1 {
        font-size: 50px;
        color: $primary-color;
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .input-container {
        width: 80%;
        height: 60px;
        border: $primary-color solid 4px;
        margin: auto;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #input{
            font-size: 25px;
            border: none;
            margin-left: 20px;
            width: 80%;
            outline: none;
           
        }
        
        button{
            font-size: 10px;
            border: none;
            font-size: 20px;
            background-color: $primary-color;
            height: 100%;
            width: 80px;
            border-radius: 30px;
            border: 4px solid $primary-color;
            cursor: pointer;
            color: white;
            font-weight: bold;
        }
    }

    .lists {
        width: 80%;
        margin: auto;

        .list{
            list-style-type: none;
            margin: 15px 0;
            display: flex;
            align-items: center;
            padding: 15px 20px;
            background-color: lighten($primary-color, 25%);
            border-radius: 20px;

            .checkbox {
                background-color: white;
                border-radius: 50%;
                border: 2px solid $primary-color;
                color: black;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                cursor: pointer;
            }
            #checkbox {
                display: none;
            }

            input[type="checkbox"]:checked ~ .checkbox{
                background-color: $primary-color;
                color: white;
            }

           
            input[type="checkbox"]:checked ~ .checkbox-text{
                text-decoration: line-through;
                color: $text-color-2;
            }

            .checkbox-text{
                flex-grow: 1;
                padding-left: 15px;
                font-size: 20px;
            }

            .btn{
                font-size: 20px;
                border: none;
                color: $text-color-2;
                background-color: transparent;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }



}
